In [11]:
#Required library and dataset downloaded for analysis
import pandas as pd
path='data/vgsales.csv'
df=pd.read_csv(path)

In [13]:
#First 10 rows of the dataset
print(df.head(10))

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [31]:
#Shape and basic information about the data
print(f"Shape of the Data:", df.shape)
print("\n")
print(f"Basic Info:", df.info())

Shape of the Data: (16598, 11)


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB
Basic Info: None

In [41]:
#Missing data and handling
print(df.isna().sum()) #Can use isna or isnull
print("\n")
df=df.dropna() #Drop rows with any nulls on any column

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [55]:
#Top 5 games in global sales
top5games_global=df.nlargest(5, 'Global_Sales')
print("Top 5 video games by global sales:")
print(top5games_global)

Top 5 video games by global sales:
   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37

In [67]:
#Total sales in North America for Action genre
NA_Sales_Action=df[df['Genre']=='Action']['NA_Sales'].sum()
print(NA_Sales_Action)

861.7700000000001

In [87]:
#Top 3 publishers based on global sales
top_3_publishers_global=df.groupby('Publisher')['Global_Sales'].sum().nlargest(3)
print(top_3_publishers_global)

Publisher
Nintendo           1784.43
Electronic Arts    1093.39
Activision          721.41
Name: Global_Sales, dtype: float64

In [89]:
#Europe average (mean) sales for Shooter genre
euro_avg_shooter=df[df['Genre']=='Shooter']['EU_Sales'].mean()
print(euro_avg_shooter)

0.24216068642745708

In [103]:
#Game wiyth highes sales in Japan for Sports genre
japan_sports_highest=df[df['Genre'] == 'Sports'].nlargest(1, 'JP_Sales')
print(japan_sports_highest)

   Rank        Name Platform    Year   Genre Publisher  NA_Sales  EU_Sales  \
0     1  Wii Sports      Wii  2006.0  Sports  Nintendo     41.49     29.02

   JP_Sales  Other_Sales  Global_Sales
0      3.77         8.46         82.74